<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="ISO-8859-1">
    <title>SDN Controller</title>
</head>
<body>
<div align="center">
    <h1>SDN Controller Application</h1>
<!--<p th:if="${loginError}" class="error">Wrong user or password</p>
<form th:action="@{/home/login}" method="post">-->
    <script th:src="@{/JavaScript/login.js}"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>


    <div class="container">
        <div class="form-group">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
        </div>
        <div class="form-group">
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
        </div>
        <button type="submit" class="btn btn-primary" onclick="login()">Submit</button>
        <div id="postResultDiv"></div>
<!--</form>-->
    </div>
</div>
</body>
</html>
<script>

</script>